<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKu6rHnxknyq21bxCgMD7_eBxg7MRzbr-okbQVH0R4HKDXPq_xbpeAp3M">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Log In!</a></li>
<li><a href="/logout">Log Out!</a></li>